.modal-container {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
  position: absolute;
  overflow: hidden;
  z-index: 10;
}
.modal_age {
  min-height: 274px;
  min-width: 390px;
  background: rgba(0, 72, 49, 0.2);
  border-radius: 45px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  gap: 19px;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.declaration-buttons {
  display: flex;
  gap: 7px;
}
.agree-button,
.disagree-button {
  width: 180px;
  height: 94px;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  outline: none;
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #004731;
  cursor: pointer;
}
.clause {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  color: #212121;
  width: 365px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
@media screen and (min-width: 586px) {
  .modal_age {
    min-height: 304px;
    min-width: 586px;
  }
  .agree-button,
  .disagree-button {
    width: 245px;
    height: 78px;
    font-size: 27px;
    line-height: 32px;
  }
  .clause {
    width: 500px;
  }
}
