.back-button {
  width: 80px;
  height: 34px;
  background: rgba(200, 187, 202, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3a3b3c;
  margin-left: 10px;
  cursor: pointer;
}
@media screen and (min-width: 536px) {
  .back-button {
    width: 100px;
    height: 37px;
    background: rgba(200, 187, 202, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #3a3b3c;
    margin-left: 33px;
    cursor: pointer;
  }
}
