.filter-button {
  background-color: #f6f6f6;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 150px;
  height: 42px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
