/* Home */

.navbar {
  display: flex;
  height: 106px;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 2px solid #002e2033;
}
.navbar img {
  width: 32px;
  height: 32px;
}
.wrapper img {
  width: 70px;
  height: 70px;
}
.wrapper {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 536px) {
  .navbar {
    display: flex;
    height: 106px;
    align-items: center;
    justify-content: space-between;
    padding: 0 39px;
    border-bottom: 2px solid #002e2033;
  }
}
