/* Home */

.navbar {
  display: flex;
  height: 66px;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 2px solid rgba(200, 187, 202, 0.5);
}
.navbar img {
  width: 32px;
  height: 32px;
}
.wrapper img {
  width: 40px;
  height: 40px;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.wrapper {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 536px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 39px;
    border: none;
    height: 86px;
  }
  .wrapper img {
    height: 46px;
    width: 46px;
    margin-left: 1rem;
  }
}

/* ShopPage */
.section-wrapper {
  position: relative;
  top: 50px;
}
.selected-shop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(200, 187, 202, 0.5);
  border-top: 2px solid rgba(200, 187, 202, 0.5);
  padding: 0 10px;
}
.selected-shop-card {
  display: flex;
  padding: 10px 0 10px 0;
  border-bottom: none;
}
.hours-of-operation {
  display: none;
}
.selected-shop-card img {
  width: 100px;
}

.hours-of-operation h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #3a3b3c;
  padding-bottom: 10px;
}
.hours-grid {
  display: grid;
  grid-template-columns: 120px 130px;
}
.days {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #3a3b3c;
}
.hours {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #3a3b3c;
}
/* .days > *,
.hours > * {
  padding-bottom: 0.2rem;
} */
.contact {
  display: flex;
  gap: 4px;
  width: max-content;
}
.call-btn {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 21px; */
  text-align: center;
  padding: 10px 0;
  color: #000000;
}
.call-btn img {
  width: 14px;
  height: 14px;
}
.dir-btn img {
  width: 14px;
  height: 14px;
}
.dir-btn {
  background: white;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  font-family: "Montserrat";
  font-style: normal;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 14px;
  /* line-height: 21px; */
  text-align: center;
  padding: 10px 0;
  color: #000000;
}
.shop-filters {
  display: flex;
  gap: 10px;
  padding: 0 10px;
  font-size: 75%;
}
.product,
.sort-by {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #edeaee; */
  /* border-radius: 30px; */
  width: 94px;
  height: 32px;
  font-family: "Montserrat";
  /* font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000; */
  background: #faf9fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.products-section {
  padding: 12px 0;
}
.products-section h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #3a3b3c;
  margin-top: 50px;
  margin-left: 3px;
}
.flowers {
  margin-top: 17px;
}
.flowers h2 {
  margin-left: 16px;
}

.flowers h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  margin-left: 16px;
  color: #3a3b3c;
  margin-bottom: 10px;
}
.item {
  width: 179px;
  height: 245px;
  padding: 9px 25px;
  background: #ffffff;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 4px;
}
.item-taste {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #3a3b3c;
}
h2 {
  padding: 0 10px 15px;
}
.item-title {
  text-decoration-line: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #3a3b3c;
}
.item-thc {
  text-decoration-line: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #3a3b3cc1;
}
.item img {
  width: 128px;
  height: 101px;
  object-fit: cover;
}
.item button {
  margin: 0 auto;
}
.items-wrapper {
  display: flex;
  padding: 0 10px;
  gap: 6px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.items-wrapper::-webkit-scrollbar {
  display: none;
}
.items-wrapper > * {
  scroll-snap-align: start;
}
.left {
  background-image: url(/src/tempIMG/left.png);
  background-size: cover;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}
.right {
  background-image: url(/src/tempIMG/right.png);
  background-size: cover;
  border: none;
  outline: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.inline-wrapper_heading_scrolling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  padding-bottom: 10px;
}
.scrolling {
  display: flex;
  gap: 10px;
  padding-right: 16px;
  margin-bottom: 0;
}
.more {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
@media screen and (min-width: 536px) {
  .section-wrapper {
    top: 0;
  }
  .more {
    font-size: 17px;
  }
  .flowers {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }
  .left,
  .right {
    height: 20px;
    width: 20px;
  }
  h2,
  h3 {
    padding-left: 20px;
  }
  .scrolling {
    gap: 15px;
    padding-right: 20px;
  }
  .shop-filters {
    font-size: 85%;
  }
  .product,
  .sort-by {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #edeaee; */
    /* border-radius: 30px; */
    width: 116px;
    height: 38px;
    font-family: "Montserrat";
    /* font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000; */
    background: #faf9fa;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  .selected-shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(200, 187, 202, 0.5);
    border-top: 2px solid rgba(200, 187, 202, 0.5);
    padding: 0 23px;
  }
  .selected-shop-card img {
    width: 320px;
  }
  .selected-shop-card {
    display: flex;
    padding: 10px 0 10px 10px;
    border-bottom: none;
  }
  .hours-of-operation {
    margin-right: 118px;
    display: none;
  }
  .item {
    margin-top: 18px;
    width: 296px;
    height: 410px;
    padding: 0 42px;
    background: #ffffff;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;

    gap: 15px;
    flex-direction: column;
  }
  .item-taste {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #3a3b3c;
  }
  .item-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #3a3b3c;
  }
  .item-thc {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #3a3b3cc1;
  }
  .item img {
    width: 222px;
    height: 169px;
    object-fit: cover;
  }
  .products-section {
    padding: 12px 39px;
  }
  .products-section h2 {
    font-family: "Montserrat";
    font-style: normal;

    font-size: 22px;
    line-height: 32px;
    color: #3a3b3c;
    margin-top: 65px;
    margin-left: 22px;
  }
  .items-wrapper {
    display: flex;
    margin: 0 auto;
    gap: 22px;
    max-width: 1270px;
  }
  .call-btn img,
  .dir-btn img {
    width: 20px;
    height: 20px;
  }
  .call-btn,
  .dir-btn {
    height: 42px;
    width: 42px;
  }
  .contact {
    display: flex;
    gap: 4px;
    width: min-content;
    margin-top: 14px;
  }

  .inline-wrapper_heading_scrolling {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 960px) {
  .hours-of-operation {
    display: block;
  }
  .flowers h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
  }
}
