/* Home */

.navbar {
  display: flex;
  height: 66px;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 2px solid rgba(200, 187, 202, 0.5);
}
.navbar img {
  width: 32px;
  height: 32px;
}
.wrapper img {
  width: 40px;
  height: 40px;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.wrapper {
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 536px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 39px;
    border: none;
    height: 86px;
  }
  .wrapper img {
    height: 46px;
    width: 46px;
    margin-left: 1rem;
  }
}

/* ShopPage */
.section-wrapper {
  position: relative;
  top: 50px;
}
.selected-shop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(200, 187, 202, 0.5);
  border-top: 2px solid rgba(200, 187, 202, 0.5);
  padding: 0 10px;
}
.selected-shop-card {
  display: flex;
  padding: 10px 0 6px 0;
  border-bottom: none;
}
.hours-of-operation {
  display: none;
}
.selected-shop-card img {
  width: 120px;
  height: 140px;
}

.hours-of-operation h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #3a3b3c;
  padding-bottom: 10px;
  padding-left: 40px;
}
.hours-grid {
  display: grid;
  grid-template-columns: 120px 130px;
}
.days {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #3a3b3c;
}
.hours {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #3a3b3c;
}
/* .days > *,
.hours > * {
  padding-bottom: 0.2rem;
} */
.contact {
  display: flex;
  gap: 4px;
  width: max-content;
  margin-top: 8px;
}
.call-btn {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 21px; */
  text-align: center;
  padding: 7px 0;
  color: #000000;
}
.call-btn img {
  width: 14px;
  height: 14px;
}
.dir-btn img {
  width: 14px;
  height: 14px;
}
.dir-btn {
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-family: "Montserrat";
  font-style: normal;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 14px;
  /* line-height: 21px; */
  text-align: center;
  padding: 7px 0;
  color: #000000;
}
.shop-filters {
  display: flex;
  gap: 10px;
  padding: 0 10px;
  font-size: 75%;
  margin-bottom: 15px;
}
.products-list {
  margin-top: 0;
  margin-left: 10px;
  flex-wrap: wrap;
  gap: 10px 15px;
  padding: 15px 30px;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.3s;
  /* background: rgba(240, 228, 242, 0.2); */
  border: 1px solid rgba(0, 0, 0, 0.103);
  max-width: 300px;
  border-radius: 15px;
  margin-bottom: 5px;
  z-index: 10;
  background-color: #ffffffec;
  backdrop-filter: blur(3px);
  position: absolute;
}
.products-list-item {
  width: max-content;
  padding: 6px 16px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Montserrat";
  border: 2px solid #79288094;
  list-style-type: none;
  font-size: 14px;
  color: #792880;
  height: 36px;
}
.sort_by-list {
  display: flex;
  opacity: 0;
  pointer-events: none;
  flex-wrap: wrap;
  gap: 10px 15px;
  padding: 15px 30px;
  transition-duration: 0.3s;
  /* background: rgba(240, 228, 242, 0.1); */
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 15px;
  max-width: 300px;
  margin-bottom: 5px;
  margin-left: 10px;
  z-index: 10;
  background-color: #ffffffec;
  backdrop-filter: blur(3px);
  position: absolute;
}
.active-filters {
  padding: 0 10px;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 10px;
  align-items: center;
  font-family: "Montserrat";
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.active-filters::-webkit-scrollbar {
  display: none;
}
.operation-buttons {
  border: 2px solid #79288094;
  background-color: #79288094;
  border-radius: 30px;
  height: 36px;
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  padding: 5px 18px;
  cursor: pointer;
}
.active-filter-holder {
  border-radius: 30px;
  border: 2px solid #79288094;
  background-color: #79288094;
  font-size: 10px;
  display: flex;
  padding: 5px 10px;
  color: white;
  justify-content: center;
  font-family: "Montserrat";
  cursor: pointer;
}
.active-filter-holder::first-letter {
  text-transform: uppercase;
}
.active-filter-holder svg {
  width: 12px;
  height: 12px;
  padding: 0 0 0 5px;
  pointer-events: none;
}
.sort_by-list-item {
  width: max-content;
  padding: 6px 16px;
  cursor: pointer;
  height: 36px;
  font-family: "Montserrat";
  border-radius: 30px;
  border: 2px solid #79288094;
  list-style-type: none;
  background-color: #ffffff;
  font-size: 14px;
  color: #792880;
}
.toggle-style {
  background-color: #79288094;
  transition-duration: 0.3s;
  color: white;
}
.product,
.sort-by {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background: #edeaee; */
  /* border-radius: 30px; */
  width: 110px;
  height: 34px;
  font-family: "Montserrat";
  /* font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000; */
  background: #faf9fa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.product svg,
.sort-by svg {
  transition-duration: 0.3s;
}
.product p,
.sort-by p {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product p svg,
.sort-by p svg {
  height: 10px;
  width: 10px;
}
.products-section {
  padding: 12px 5px;
}
.products-heading {
  padding: 0 0 0 10px;
  margin-left: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #3a3b3c;
  margin-top: 50px;
}
.flowers {
  position: relative;
  transition: all 0.3s;
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.flowers h2 {
  margin: 20px 0 0 16px;
}

.flowers h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 29px;
  margin-left: 16px;
  color: #3a3b3c;
  padding-left: 10px;
}
.item {
  width: 180px;
  height: 270px;
  padding: 9px 25px;
  background: #ffffff;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 4px;
  margin-top: 2px;
}
.item-taste {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* text-decoration-line: underline; */
  color: #3a3b3c;
}
.item-title {
  text-decoration-line: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3a3b3c;
}
.item-thc {
  text-decoration-line: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #3a3b3cc1;
  margin-bottom: 0.5rem;
}
.item img {
  width: 128px;
  height: 101px;
  object-fit: cover;
  padding-bottom: 0.5rem;
}
.item button {
  margin: 0 auto;
}
.items-wrapper {
  display: flex;
  padding: 0 15px;
  gap: 6px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.items-wrapper::-webkit-scrollbar {
  display: none;
}
.items-wrapper > * {
  scroll-snap-align: start;
}
.left {
  border: none;
  outline: none;
  width: 10px;
  height: 10px;
  background-color: transparent;
  cursor: pointer;
}
.right {
  border: none;
  outline: none;
  background-color: transparent;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.inline-wrapper_heading_scrolling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
  padding-bottom: 10px;
}
.scrolling {
  display: flex;
  gap: 15px;
  padding-right: 26px;
  margin-bottom: 0;
}
.left,
.right {
  height: 20px;
  width: 10px;
  object-fit: cover;
}
.more {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: none;
}
@media screen and (min-width: 536px) {
  .section-wrapper {
    top: 0;
  }
  .more {
    font-size: 17px;
  }
  .flowers {
    width: 100%;
    /* max-width: 1300px; */
    /* margin: 0 auto; */
    margin-top: 1.5rem;
    margin-bottom: 8rem;
  }
  .left,
  .right {
    height: 18px;
    width: 12px;
  }
  h3 {
    padding-left: 20px;
  }
  .scrolling {
    height: 15px;
    align-items: center;
    gap: 22px;
    padding-right: 20px;
  }
  .shop-filters {
    font-size: 85%;
    padding-left: 30px;
  }
  .active-filter-holder svg {
    height: 15px;
    width: 15px;
  }
  .active-filters {
    font-size: 20px;
  }
  .active-filter-holder {
    font-size: 16px;
    align-items: center;
  }
  .product,
  .sort-by {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #edeaee; */
    /* border-radius: 30px; */
    width: 120px;
    height: 36px;
    font-family: "Montserrat";
    /* font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000; */
    background: #faf9fa;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  .selected-shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(200, 187, 202, 0.5);
    border-top: 2px solid rgba(200, 187, 202, 0.5);
    padding: 0 23px;
  }
  .selected-shop-card img {
    width: 240px;
    height: 200px;
  }
  .selected-shop-card {
    display: flex;
    padding: 10px 0 10px 10px;
    border-bottom: none;
  }
  .hours-of-operation {
    margin-right: 118px;
    display: none;
  }
  .item {
    margin-top: 20px;
    width: 301px;
    height: 400px;
    padding: 0 42px;
    background: #ffffff;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 6px;
    flex-direction: column;
  }
  .item-taste {
    font-family: "Nunito";
    font-style: normal;
    font-size: 19px;
    line-height: 27px;
    color: #3a3b3c;
  }
  .item-title {
    font-family: "Nunito";
    font-style: normal;
    font-size: 17px;
    line-height: 29px;
    color: #3a3b3c;
  }
  .item-thc {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
    color: #3a3b3cc1;
    margin-bottom: 1rem;
  }
  .item img {
    width: 222px;
    height: 169px;
    object-fit: cover;
    padding-bottom: 1.25rem;
  }
  .products-section {
    margin: 12px 20px;
  }
  .products-heading {
    font-family: "Montserrat";
    font-style: normal;
    padding-left: 86px;
    font-size: 21px;
    line-height: 32px;
    color: #3a3b3c;
    margin-top: 90px;
    margin-bottom: 30px;
  }
  .items-wrapper {
    display: flex;
    margin: 0 auto;
    gap: 16px;
    max-width: 1270px;
  }
  .call-btn img,
  .dir-btn img {
    width: 20px;
    height: 20px;
  }
  .call-btn,
  .dir-btn {
    height: 42px;
    width: 42px;
    padding: 10px 0;
  }
  .contact {
    display: flex;
    gap: 4px;
    width: min-content;
    margin-top: 10px;
  }
  .inline-wrapper_heading_scrolling {
    padding-bottom: 0px;
    max-width: 1330px;
  }
  .products-list {
    margin-top: 0;
    flex-wrap: wrap;
    gap: 10px 15px;
    padding: 15px 30px;
    display: flex;
    /* background: rgba(240, 228, 242, 0.2); */
    width: fit-content;
    margin-bottom: 5px;
  }
  .sort_by-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 15px;
    padding: 15px 30px;
    /* background: rgba(240, 228, 242, 0.1); */
    width: fit-content;
    margin-bottom: 5px;
  }
  .products-list-item {
    width: max-content;
    padding: 7px 19px;
    font-size: 14px;
  }
  .sort_by-list-item {
    width: max-content;
    padding: 7px 19px;
    font-size: 14px;
  }
}
@media screen and (min-width: 960px) {
  .hours-of-operation {
    display: block;
  }
  .flowers h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 0;
    padding-left: 86px;
  }
}
