.card {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 10px;
  border-bottom: 2px solid #002e2033;
  cursor: pointer;
}
.card img {
  height: 130px;
  width: 110px;
}
a {
  text-decoration: none;
  color: #3a3b3c;
}
.card-shop_details {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shop-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  line-height: 16px;
  color: #3a3b3c;
}
.shop-location {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  padding-bottom: 10px;
  line-height: 15px;
}
.shop-assignments {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: #3a3b3c;
}
.shop-orders {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  padding-bottom: 10px;
  color: #3a3b3c;
}
.shop-in-pill h4 {
  font-size: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  color: #3a3b3c;
}
@media screen and (min-width: 550px) {
  .card-shop_details {
    margin-left: 20px;
  }
  .card img {
    width: 200px;
    height: 140px;
  }
  .shop-name {
    font-size: 20px;
  }
  .shop-location {
    padding: 0 0 12px 0;
    font-size: 12px;
  }
  .shop-assignments {
    font-size: 12px;
  }
  .shop-orders {
    font-size: 12px;
    padding: 0 0 9px 0;
  }
  .shop-in-pill h4 {
    font-size: 11px;
  }
}
@media screen and (min-width: 800px) {
  /* .card {
    display: flex;
    padding: 19px 0 24px 38px;
    border-bottom: 2px solid #002e2033;
    cursor: pointer;
  } */
  .card-shop_details {
    margin-left: 28px;
  }
  .card {
    padding: 20px 0 20px 20px;
  }
  .card img {
    width: 290px;
    height: 210px;
  }
  .shop-name {
    font-size: 21px;
    padding-bottom: 10px;
    margin-top: 5px;
  }
  .shop-location {
    padding: 0 0 14px 0;
    font-size: 15px;
    line-height: 22px;
  }
  .shop-assignments {
    font-size: 14px;
  }
  .shop-orders {
    font-size: 14px;
    padding: 0 0 10px 0;
  }
  .shop-in-pill h4 {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 24px;
  }
}
