* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.search-label {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  background: #fafbfa;
  border-radius: 30px;
  position: relative;
  margin-top: 3em;
}
.search-label::before {
  position: absolute;
  top: 5px;
  left: 30px;
  content: '';
  height: 23px;
  width: 23px;
  background: url(../../tempIMG/search.svg);
  background-repeat: no-repeat;
}
.search-input {
  width: 250px;
  height: 40px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 24px;
  padding: 0 65px;
}

/* SEARCH FANCY */
.fancy-search {
  margin-left: 30px;
  height: 40px;
  width: 130px;
  position: relative;
}
.fancy-search input {
  height: 100%;
  width: 100%;
  padding: 0 0 0 25px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #d1dcd9;
  outline: none;
}
.fancy-search label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.magnifying {
  position: relative;
  height: 20px;
  width: 20px;
}
.fancy-search label svg {
  position: absolute;
  top: 7px;
  height: 20px;
  width: 20px;
}
.fancy-search label::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  background-color: #0047314d;
}
.fancy-search input:focus + .search-underline::after {
  transform: translateX(0);
  transition-duration: 0.3s ease-in-out;
}

@media screen and (min-width: 375px) {
  .fancy-search {
    width: 180px;
  }
}

@media screen and (min-width: 536px) {
  .fancy-search {
    width: 240px;
    margin-left: 60px;
  }
  .fancy-search input {
    font-size: 28px;
  }
}
