* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
label {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  background: #fafbfa;
  border-radius: 30px;
  position: relative;
  margin-top: 3em;
}
label::before {
  position: absolute;
  top: 5px;
  left: 30px;
  content: "";
  height: 18px;
  width: 18px;
  background: url(../../tempIMG/Ellipse\ 1.svg);
  background-repeat: no-repeat;
}
.search-input {
  width: 250px;
  height: 40px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 24px;
  padding: 0 65px;
}
.entry-button {
  margin: 27px 0 0 0;
  width: 140px;
  height: 42px;
  border: 1px solid #00483135;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  background-color: rgb(213, 202, 131, 0.15);
  color: #004831;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

@media screen and (min-width: 536px) {
  label {
    margin-top: 3em;
  }
  .search-input {
    font-size: 12px;
    width: 260px;
    height: 40px;
  }
  .entry-button {
    margin-top: 20px;
  }
}
