.filters-and-data {
  position: relative;
  top: 50px;
}
.filters {
  padding: 0 20px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 6px;
  height: 64px;
  background: rgba(240, 228, 242, 0.5);
  border: 2px solid rgba(200, 187, 202, 0.5);
}
.on-click-filters {
  gap: 6px;
  display: flex;
  width: 50%;
}
.range-label {
  font-size: 0.7em;
  font-family: 'Nunito', sans-serif;
}
input[type='range'] {
  width: 100%;
}
input[type='range']::before,
input[type='range']::after {
  position: absolute;
  display: inline-block;
  font-size: 13px;
}
input[type='range']::before {
  content: attr(min);
  left: -20px;
}
input[type='range']::after {
  content: attr(max);
  right: -25px;
}
.drop-arrow {
  width: 12px;
  height: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5d3cf66;
  border-radius: 30px;
  padding-left: 10px;
}
.dropdown-filter {
  position: relative;
  width: 100px;
  margin-left: 20px;
}

@media screen and (min-width: 536px) {
  .filters-and-data {
    position: relative;
    top: 0px;
  }
  .range-label {
    font-size: 1em;
  }
  .dropdown-filter {
    width: 180px;
  }
  .distance {
    width: 130px;
    height: 38px;
    gap: 30px;
    font-size: 15px;
    line-height: 27px;
    margin: 0;
    padding-left: 6px;
  }
  .drop-arrow {
    width: 20px;
    height: 17px;
    padding-right: 10px;
  }
  .dropdown-filter ul li {
    list-style: none;
    display: flex;
    align-items: center;
    width: 180px;
    height: 30px;
    font-family: 'Nunito', sans-serif;
    border-bottom: 1px solid rgb(206, 206, 206);
    padding: 0 0 0 20px;
  }
  .dropdown-filter ul {
    margin: 0;
  }
  .filters {
    padding-left: 50px;
  }
}
