.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.entry-logo-S {
  display: block;
  width: 290px;
  height: 160px;
}
.entry-logo-X {
  display: none;
}
.entry-button {
  margin: 28px 0 0 0;
  width: 172px;
  height: 56px;
  border: 4px solid #004831;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #024b33;
  cursor: pointer;
}
@media screen and (min-width: 536px) {
  .entry-logo-X {
    display: block;
    width: 536px;
    height: 274px;
  }
  .entry-logo-S {
    display: none;
  }
}
