.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fafbfa;
}
.entry-logo-S {
  padding-top: 15em;
  display: block;
  width: 270px;
  height: auto;
}
.entry-logo-X {
  display: none;
}

@media screen and (min-width: 536px) {
  .entry-logo-X {
    padding-top: 10em;
    display: block;
    width: 360px;
    height: auto;
  }
  .entry-logo-S {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #fafbfa;
  }
}
